<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="../Css/Home.css">
</head>
<body>
    <div class="container">
        <h3>Bienvenido Estimado Usuario</h3>
        <br>
        <button type="button" id="btnlogout">Cerrar Sesión</button>
        <button type="button" id="btnCambiarContraseña" class="btn btn-info ml-2">Cambiar Contraseña</button>
    </div>
    <div class="text-center mt-3">
        <button
          type="button"
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#confirmDeleteModal"
        >
          Administrar Cuenta
        </button>
    </div>

    <!-- Modal para confirmar eliminación de usuario -->
    <div
      class="modal fade"
      id="confirmDeleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="confirmDeleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">
              Confirmar Eliminación
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bienvenido a la administración de usuario</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              id="btnConfirmar"
              type="button"
              class="btn btn-danger"
            >
              Eliminar Usuario
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de confirmación de eliminación de usuario -->
    <div
      class="modal fade"
      id="confirmUserDeleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="confirmUserDeleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmUserDeleteModalLabel">
              Confirmación de Eliminación
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar tu cuenta de usuario?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              No
            </button>
            <button id="btnBorrar" type="button" class="btn btn-danger">
              Sí
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../Controllers/Entrada.js"></script>
    <script>
        document.getElementById('btnConfirmar').addEventListener('click', function () {
            $('#confirmDeleteModal').modal('hide');
            $('#confirmUserDeleteModal').modal('show');
        });
    </script>
    <script>
        document.getElementById('btnBorrar').addEventListener('click', function () {
            $('#confirmUserDeleteModal').modal('hide');
            setTimeout(() => {
                window.location.href = '../Index.html';
            }, 2000);
        });
    </script>
    <script>
      document.getElementById('btnCambiarContraseña').addEventListener('click', function () {
      // Redirige a la página de recuperación de contraseña
      window.location.href = '../Templates/Recuperar_contraseña.html';
  });
</script>
</body>
</html>
