<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperacion de Contraseña</title>
  <link rel="stylesheet" href="../Css/Recuperar.css" />
</head>

<body>
  <div class="container">
    <div class="form-box login">
      <h2>Bienvenido</h2>
      <p>
        Este es su menú de recuperación de contraseña, por favor llene el campo del correo.
      </p>
      <h2>Recuperar</h2>
      <div class="input-box animation">
        <input id="correo" type="text" required />
        <label for="correo">Direccion de correo</label>
        <i class="bx bxs-user"></i>
      </div>
      <button id="Resetear">Enviar mensaje</button>
      <button id="Volver">Volver</button>
      <div class="info-text login">
      </div>
    </div>
  </div>
  <script type="module" src="../controllers/RecuperacionPassword.js"></script>
</body>
</html>
