<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../Css/Style.css">
</head>
<body>
    <section>
        <form>
            <h1>Inicia Sesion Como Administrador</h1>
            <div class="login-container">
                <input id="edtuser" placeholder="Correo electronico" type="email" required> <br>
                <input id="edtpassword" placeholder="Contraseña" type="password" required>
            </div>
            <button id="loginbtn">Iniciar Sesion</button>
        </form>
    <script type="module" src="../Controllers/Authentication.js"></script>
    </section>
</body>
</html>